{% extends 'costomer_base.html' %}
{% load static %}
{% block aboutus_page %}

<div class="container">
    <h3>About Minikart</h3>
    <P>
        Minikart is Love. We started it as a project, and now we are launching our website. It's a great achievement for
        three of us.
    </P>

    <br>

    <h3>Developers</h3>
    <strong>We three are from IIT(BHU),Varanasi.</strong>
    <br>
    <br>
    <div class="row d-flex justify-content-around">
        <div class="col-md-3 col-sm-6" style="margin-top:10px ">
            <div class="card  mb-3" style="background-color:#E0FFFF">
                <img height=200px class="card-img-top img-fluid"
                    src="{%static 'social media icons\Arihant.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title d-flex justify-content-around">Arihant Jain</h2>
                    <hr>
                    <h5 class="card-body d-flex justify-content-around">Part-4 Mining Eng</h5>
                    <div style="text-align:center;">
                        <a href="https://www.facebook.com/arihant.jain.14203" target="_blank"><img style="height:35px"
                                src="{%static 'social media icons\facebook-2.png' %}" alt="..."></a>
                        <a href="https://www.linkedin.com/in/jarihant30/" target="_blank"><img style="height:30px"
                                src="{%static 'social media icons\linkedin_black.png' %}" alt="..."></a>
                        <a href="mailto:arihantjain.min18@itbhu.ac.in"><img style="height:36px"
                                src="{%static 'social media icons\mail_envalope.png' %}" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top:10px ">
            <div class="card  mb-3" style="background-color:#E0FFFF">
                <img height=200px class="card-img-top img-fluid" src="{%static 'social media icons\op.jpg' %}">
                <div class="card-block">
                    <h2 class="card-title d-flex justify-content-around">Omprakash Joshi</h2>
                    <hr>
                    <!-- <p class="card-body d-flex justify-content-around">Part-4 SMST </p> -->
                    <h5 class="card-body d-flex justify-content-around">Part-4 SMST</h5>
                    <div style="text-align:center;">
                        <a href="https://www.facebook.com/profile.php?id=100004394235093" target="_blank"><img
                                style="height:35px" src="{%static 'social media icons\facebook-2.png' %}" alt="..."></a>
                        <a href="https://www.linkedin.com/in/omprakash-joshi-427757175/" target="_blank"><img
                                style="height:30px" src="{%static 'social media icons\linkedin_black.png' %}"
                                alt="..."></a>
                        <a href="mailto:omprakashjoshi.mst18@itbhu.ac.in"><img style="height:36px"
                                src="{%static 'social media icons\mail_envalope.png' %}" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top:10px">
            <div class="card mb-3" style="background-color:#E0FFFF">
                <img height=200px class="card-img-top img-fluid" src="{%static 'social media icons\pankaj.jpg' %}"
                    alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title d-flex justify-content-around">Pankaj Yadav</h2>
                    <hr>
                    <!-- <p class="card-body d-flex justify-content-around">Part-4 SMST </p> -->
                    <h5 class="card-body d-flex justify-content-around">Part-4 SMST</h5>
                    <div style="text-align:center;">
                        <a href="https://www.facebook.com/profile.php?id=100005737003313" target="_blank"><img
                                style="height:35px" src="{%static 'social media icons\facebook-2.png' %}" alt="..."></a>
                        <a href="https://www.linkedin.com/in/pankaj-yadav-124649179/" target="_blank"><img
                                style="height:30px" src="{%static 'social media icons\linkedin_black.png' %}"
                                alt="..."></a>
                        <a href="mailto:pankajyadav.mst18@itbhu.ac.in"><img style="height:36px"
                                src="{%static 'social media icons\mail_envalope.png' %}" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br />
<br />

{% endblock aboutus_page %}