{% extends 'seller_base.html' %}
{% block seller_url_id %} {% url 'home_page' id %} {% endblock seller_url_id %}
{% block seller_url_order_id %} {% url 'order_page' id %} {% endblock seller_url_order_id %}
{% block seller_url_contact_id %}{% url 'contact_seller' id %}{% endblock seller_url_contact_id %}
{% block seller_contact_page %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-dark">submit</button>
        </div>
    </div>
</div>

{% endblock seller_contact_page %}